/365 Real Estate Requirements.pdf
/365RealEstate_Muhammad_Rohail.zip
/df_clean.csv
/requirements.txt
/Running Model 1.png
/Running Model 2.png
/SreamLit_Link.txt
/uae_real_estate_avm_tuned_model.joblib